.table-responsive {
	overflow-x: visible;
}

.table > tbody > tr > td {
	vertical-align: middle;
}

.intl-tel-input {
	width: 100%;
}

.intl-tel-input.separate-dial-code .selected-flag {
    background-color: white;
}